* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*:focus {
  outline: 0;
}

body {
  font-family: Circular Std;
}

.pointer {
  cursor: pointer;
}
.center {
  text-align: center;
}

.form-tag,
.form-tag:focus-visible {
  line-height: 1.5;
  border: 0.5px solid #bdbdbd;
  border-radius: 2px;
}
input[type="text"] {
  /* Remove shadows on iphone input */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.5px solid #bdbdbd;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group {
  margin-bottom: 1rem;
}

.card {
  background: #fff;
  border-radius: 0.428rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47/10%);
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.text-danger {
  color: rgb(207, 57, 23);
}
.text-primary {
  color: #7888fc;
}
.btn {
  border: none;
  border-radius: 5px;
  background-color: #7888fc;
  color: #fff;
  padding: 10px 36px;
  cursor: pointer;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
